#div1 {
	background-color: red;
	width:100%;
	height: 100px;
}
#div2{
	width: 100%;
	height: 1000px;
	background-color: green;
}
#div2a {
	background-color: blue;
	height: 850px;
}
#div2b {
	background-color: purple;
	height: 850px;
}
#div2c {
	background-color: yellow;
	height: 850px;
}