{
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #ffff00;
    height: 100%;
}

#header {
    background-color: #ff0000;
    width: 100%;
    height: 125px;
}

#main {
    background-color: #0000ff;
    margin: 0 auto;
    max-width: 665px;
    min-height: 875px;
}

#footer {
    background-color: #008000;
    margin: 0 auto;
    max-width: 665px;
    min-height: 75px;
}
