html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #FEFF00;
}

header {
    background-color: #FF0000;
    padding: 50px;
}

section {
    background-color: #1D00FF;
    margin-left: 15%;
    width: 70%;
    height: 75%;
}

footer {
    background-color: #008200;
    margin-left: 15%;
    width: 70%;
    height: 15%;
}

