html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    background-color: #FFF;
}

header {
    background-color: #820081;
    width: 100%;
    height: 9vh;
}

.container {
    background-color: #FF0000;
    height: 90vh;
    width: 80%;
    margin: auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-cards {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #1D00FF;
    height: 20vh;
    width: 60%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.yellow-block {
    background-color: #FEFF00;
    height: 60%;
    width: 20%;
    margin-right: -15%;
}

.green-block {
    position: relative;
    top: 8px;
    background-color: #008200;
    height: 75%;
    width: 50%;
    margin-top: 2%;
}

/*//////

 {
    background-color: #1D00FF;
}

 {
    background-color: #FF0000;

}

 {
    background-color: #FEFF00;
}*/

